@import "tailwindcss";

:root {
  --primary: #2f6b3d;
  --gold: #c8a44d;
  --ivory: #faf7f2;
  --dark: #181818;
  --gray: #666666;

  --font-heading: "Playfair Display", serif;
  --font-body: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--ivory);
  color: var(--dark);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
}